{% extends 'core/base.html' %}

{% block title %}Log In - My Blog{% endblock %}

{% block content %}

<section class="signup">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 form-con">
        <div class="row">
          <div class="col-lg-6">
            <img src="/static/images/user-img.png" alt="user register" width="100%">
          </div>
          <div class="col-lg-6 form-col">
            <div class="signup-form">
              <h2>Log In</h2>

              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
              {% endif %}

              <form method="post" action=".">
                {% csrf_token %}

                <div class="mb-3">
                  {{ form.email }}
                </div>

                <div class="mb-3">
                  {{ form.password }}
                </div>

                {% if form.errors or form.non_field_errors %}
                <div class="text-danger">
                  {% for field in form %}
                    {{ field.errors }}
                  {% endfor %}

                  {{ form.non_field_errors}}
                </div>
                {% endif %}
                <button class="btn btn-theme-color">LogIn</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
